<div class="header container-padding">
    <div class="header-brand">RoboRangers</div>
    <div class="header-logo"><img src="~/images/rrlogo.jpg" style="border-radius: 50%; height: 100%; width: 100%;" /></div>
    <div class="header-contactus" id="contact-button">
        Contact Us
        <svg xmlns="http://www.w3.org/2000/svg" class="contact-arrow" viewBox="0 -960 960 960" fill="#ffffff"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" /></svg>
    </div>
</div>