<div class="navbar-container">
    <p class="navbar-brand">RoboRangers</p>
    <p class="navbar-item" id="sponsors-btn">Sponsors</p>
    <p class="navbar-item blue-border" id="contact-btn">Contact</p>
</div>