<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/RoboRangers.Web.styles.css" />

    <script src="~/js/site.js" defer></script>
</head>
<body>
    <header>
        <partial name="_Header" />
    </header>
    <div>
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>