.bg-image {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    filter: brightness(70%);
    z-index: -999;
}

.hero-big-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-small-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3rem;
}

.hero-heading {
    text-align: center;
}

.hero-hr {
    display: none;
}

.hero-subheading {
    text-align: center;
}

.mission-container {
    flex-direction: column;
    gap: 2rem;
}

.mission-image {
    width: 100%;
}

.mission-heading {
    text-align: center;
}

.mission-content {
    text-align: center;
}

.philosophy-container {
    gap: 2rem;
}

.team-container {
    flex-direction: column;
    margin: 4rem 0;
    gap: 2rem;
}

.team-members-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 2rem;
}

.team-member {
    width: 45%;
}

.fll-img-container {
    margin: 4rem 0;
}

.more-container {
    flex-direction: column;
    gap: 2rem;
}

.more-heading {
    text-align: center;
}

.more-content {
    text-align: center;
}

.achievements-section {
    gap: 2rem;
}

.past-achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 2rem;
}

.achievement-section {
    width: 45%;
}

.sponsor-section {
    margin: 8rem 0;
}

.contact-section {
    flex-direction: column;
    gap: 2rem;
}

.contact-links {
    gap: 2rem;
}

@media only screen and (min-width: 768px) {
    .hero-big-container {
        justify-content: end;
    }

    .hero-small-container {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: start;
        justify-content: end;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .hero-heading {
        text-align: start;
    }

    .hero-hr {
        display: block;
        width: 100%;
        height: 2px;
    }

    .hero-subheading {
        text-align: start;
    }

    .mission-container {
        flex-direction: row;
    }

    .mission-heading {
        text-align: start;
    }

    .mission-content {
        text-align: start;
    }

    .mission-small-container {
        width: calc(100% - 1rem);
    }

    .philosophy-content {
        width: 60%;
        border: solid;
        padding: 1rem;
        border-width: 4px;
        border-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(48,109,184,1) 100%);
        border-image-slice: 1;
    }

    .team-container {
        flex-direction: column;
        height: 100vh;
        gap: 2rem;
    }

    .team-members-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 15%;
        gap: 3%;
        row-gap: 2rem;
    }

    .team-member {
        width: 22.75%;
    }

    .fll-img-container {
        height: 100vh;
    }

    .fll-image {
        width: 100%;
        height: 80%;
    }

    .more-container {
        flex-direction: row;
        gap: 2rem;
    }

    .more-small-container {
        width: calc(100% - 1rem);
    }

    .more-heading {
        text-align: start;
    }

    .more-content {
        text-align: start;
    }

    .past-achievements {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10%;
        row-gap: 2rem;
    }

    .achievement-section {
        width: 17.5%;
    }

    .sponsor-img {
        width: 50%;
    }

    .contact-section {
        flex-direction: row;
    }

    .contact-image {
        width: calc(100% - 2rem);
        height: 70vh;
    }

    .contact-links {
        width: calc(100% - 2rem);
    }
}