.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.hero-content, .more-container2, .philosophy-center, .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.philosophy-center {
    width: 80%;
    align-self: center;
}

.hero-content, .more-container2, .more-container, .team-container, .mission-container {
    align-items: center;
}

.hero-text1, .hero-text2, .more-heading, .team-heading, .philosophy-heading, .testimonials-heading, .sponsors-heading, .cta-heading {
    text-align: center;
}

.hero-text1 {
    font-size: 4rem;
    height: 60vh;
}

.hero-text2 {
    font-size: 2rem;
    height: 15vh;
}

.mission-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.philosophy-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.mission-container {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;
}

.mission-image-container, .mission-text, .more-content, .more-image, .philosophy-left, .philosophy-right, .cta-image {
    width: 80%;
}

.mission-image-container {
    margin-right: 2.5%;
}

.mission-text {
    margin-left: 2.5%;
}

.mission-heading, .philosophy-heading, .team-heading, .more-heading, .testimonials-heading, .sponsors-heading, .cta-heading, .more-heading, .testimonials-heading {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.mission-content, .philosophy-content, .team-member-name, .more-content, .cta-email, .cta-sendemail {
    font-size: 1.5rem;
}

.philosophy-container {
    justify-content: center;
}

.philosophy-left {
    margin-bottom: 10vh;
    height: 40vh;
    width: 100vw;
}

.philosophy-left-inner {
    height: 100%;
    width: 100%;
}

.philosophy-right {
    display: none;
    width: 120vw;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 7%;
    margin: 20vh 0;
    height: auto;
}

.team-heading {
    width: 100vw;
}

.team-member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.team-member-photo-container {
    width: 200px;
    height: 300px;
}

.team-member-desc {
    font-size: 1rem;
}

.more-container {
    margin: 10vh 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more-container2 {
    gap: 3rem;
}

.more-image {
    width: 80%;
}

.testimonials-heading {
    margin: 0 15vw;
    width: 70vw;
}

.testimonials-scrolling {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin-top: 10vh;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    color: white;
}

    .testimonial:nth-child(2), .testimonial:nth-child(3) {
        display: none;
    }

.testimonial-image {
    width: 150px;
    height: 150px;
}

.testimonial-name {
    font-size: 3rem;
}

.testimonial-content {
    font-size: 1.3rem;
    font-style: italic;
}

.testimonial-blue-bg {
    width: 100vw;
    height: 20rem;
    position: absolute;
    top: 75px;
    background-color: #4190F1;
    z-index: -1;
}

.sponsors-container {
    margin-bottom: 10vh;
}

.sponsors-heading {
    font-size: 4rem;
    width: 100vw;
}

.sponsors-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 3vw;
    gap: 5vw;
}

.sponsor-image {
    width: 200px;
}

.cta-container {
    height: 60vh;
    position: relative;
    margin-bottom: 20vh;
}

.cta-image {
    width: 80%;
    height: 400px;
}

.cta-button {
    width: 15rem;
    min-height: 64px;
    margin-bottom: 1rem;
    background-color: #4190F1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.cta-left, .cta-right {
    font-size: 3rem;
    position: absolute;
    writing-mode: vertical-lr;
    display: none;
}

.cta-left {
    left: 0;
}

.cta-right {
    right: 0;
    transform: rotate(-180deg);
}

@media only screen and (min-width: 768px) {
    .hero-container {
        height: 100vh;
    }

    .hero-text1 {
        font-size: 6rem;
    }

    .hero-text2 {
        font-size: 3rem;
    }

    .mission-container {
        height: 120vh;
        flex-direction: row;
    }

    .mission-heading, .philosophy-heading, .team-heading, .more-heading, .testimonials-heading, .sponsors-heading, .cta-heading, .more-heading, .testimonials-heading {
        font-size: 5rem;
    }

    .mission-image-container, .mission-text {
        width: 40%;
    }

    .philosophy-container {
        height: 400vh;
        flex-direction: row;
        justify-content: space-between;
    }

    .philosophy-right {
        display: block;
        margin-bottom: 0;
        height: 120vh;
        width: 23vw;
        position: sticky;
        top: 0;
    }

    .philosophy-right-inner {
        left: 23vw;
        height: 100%;
        position: relative;
        animation: phright linear;
        animation-timeline: view();
    }

    @keyframes phright {
        from, 20% {
            left: 23vw;
        }

        35%, 70% {
            left: 0;
        }

        80%, to {
            left: 23vw;
        }
    }

    .philosophy-left {
        margin-bottom: 0;
        height: 120vh;
        width: 23vw;
        position: sticky;
        top: 0;
    }

    .philosophy-left-inner {
        right: 23vw;
        height: 100%;
        position: relative;
        animation: phleft linear;
        animation-timeline: view();
    }

    @keyframes phleft {
        from, 20% {
            right: 23vw;
        }

        35%, 70% {
            right: 0;
        }

        80%, to {
            right: 23vw;
        }
    }

    .philosophy-center {
        width: 45%;
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
    }

    .more-container2 {
        flex-direction: row;
    }

    .more-content {
        width: 40%;
        font-size: 1.3rem;
    }

    .more-image {
        width: 35%;
    }

    sponsors-heading {
        font-size: 6rem;
    }

    .sponsors-images {
        flex-direction: row;
        margin-top: 3vh;
    }

    .testimonial:nth-child(2) {
        display: flex;
    }

    .cta-container {
        height: 100vh;
    }

    .cta-image {
        width: 700px;
        height: 500px;
    }

    .cta-left, .cta-right {
        display: block;
    }
}

@media only screen and (min-width: 1000px) {
    .hero-container {
        justify-content: center;
        align-items: center;
    }

    .hero-content {
        flex-direction: row;
        align-items: last baseline;
    }

    .hero-text1 {
        width: 34rem;
        padding-right: 1rem;
        text-align: right;
        border-right: solid 7px #4190F1;
        height: 3.4em;
        overflow: hidden;
    }

    .hero-text1-content {
        position: relative;
        animation: ht1 ease-in-out 1s;
    }

    @keyframes ht1 {
        0%, 25% {
            left: 100%;
        }

        100% {
            left: 0;
        }
    }

    .hero-text2 {
        padding-left: 1rem;
        width: 20rem;
        height: auto;
        text-align: left;
        overflow: hidden;
    }

    .hero-text2-content {
        width: 100%;
        height: 100%;
        position: relative;
        animation: ht2 ease-in-out 1s;
    }

    @keyframes ht2 {
        0%, 25% {
            right: 100%;
        }

        100% {
            right: 0;
        }
    }

    .mission-container {
        height: 120vh;
    }

    .more-container2 {
        flex-direction: row;
    }

    .more-content {
        width: 40%;
    }

    .more-image {
        width: 35%;
    }

    .sponsors-container {
        margin: 20vh 0;
    }

    .sponsors-images {
        flex-direction: row;
    }

    .testimonial:nth-child(3) {
        display: flex;
    }

    .cta-image {
        width: 700px;
        height: 500px;
    }
}
